.section.action {
    background-color: var(--color-black);
    color: #fff;
    gap: 20px;
    padding: 3vw 5vw;
}
.action__title {
    text-transform: uppercase;
    font-size: calc(var(--index) * 2);
}
.action__form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.action__form .form__field {
    background-color: #595959;
    color: #fff;
}
.action__form .form__field::placeholder {
    color: #aeaeae;
}
.action__form .field-wrapper {
    background-color: #595959;
}

@media (max-width: 868px) {
    .action__form {
        grid-template-columns: 1fr;
    }

    .action__title {
        font-size: 32px;
    }

    .section.action {
		padding: 5vw 3vw;
    }
}   