.section.areas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: var(--color-yellow);
    padding: 0;
    gap: 0;
}
.areas__content {
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 2);
    padding: 5vw;
}
.areas__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.areas__area {
    list-style: none;
}
.areas__area a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--color-black);
    text-decoration: none;
    font-size: calc(var(--index) * 0.8);
}
.areas__area a:hover {
    text-decoration: underline;
}
/* MAP  */

.areas__map {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.areas__map {
    width: 100% !important;
    height: 100% !important;
}

@media (max-width: 868px ) {
    .section.areas {
        display: grid;
        grid-template-columns: 1fr;
    }

    .areas__map {
        order: -1;
    }
    
    .areas__map iframe {
        height: 500px;
    }

    .areas__area a {
        font-size: 16px;
    }
}

@media (max-width: 600px ) {
    .areas__content {
		padding: 12px 6px;
    }
}

@media (max-width: 390px ) {
    .areas__area a {
        font-size: 14px;
    }
}