.section.owner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: calc(var(--index) * 2);
    background-color: var(--color-black);
    color: #fff;
}
.owner__info {
    display: flex;
    flex-direction: column;
    gap: calc(var(--index) * 2);
}
.owner__info h2 {
    font-size: calc(var(--index) * 1.8);
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 20px;
}
.owner__info p {
    font-size: 20px;
    font-weight: 200;
}
.owner__info img {
    width: 250px;
}
.owner__info button {
    width: fit-content;
    padding: calc(var(--index) * 0.4) calc(var(--index) * 2);
}
.owner__photo {
    background-color: #474747;
}

@media (max-width: 1024px) {
    .owner__info p {
        font-size: 16px;
        font-weight: 200;
    }
}
@media (max-width: 600px) {
    .section.owner {
        grid-template-columns: 1fr;
    }

    .owner__info h2 {
        font-size: 24px;
    }

    .owner__info img {
        width: 200px;
    }

    .owner__info button {
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 40px;
    }
}

@media (max-width: 390px) {
    .owner__info button {
        width: 100%;
    }
}